<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>02.00-collection-w-underscore-template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://localhost:8001/css/lib/normalize-2.1.2.css">
    <style media="screen" type="text/css">

    /* css here */

    </style>
</head>
<body>

    <div id="region"></div>

    <script src="../vendors/jquery-1.11.0.js"></script>
    <script src="../vendors/underscore-1.6.0.js"></script>
    <script src="../vendors/backbone-1.1.2.js"></script>
    <script src="../vendors/handlebars-v2.0.0.js"></script>
    <script>
    /* global Backbone, _ */
    (function(){
        'use strict';

        var app = {};

        app.mock = function(num) {
            // return an array whose elements are bb.model:
            //        [   bb.model.extend( {"a":"5a", "b":"5b", "c":"5c", "d":"5d"} )
            //          , bb.model.extend( {"a":"4a", "b":"4b", "c":"4c", "d":"4d"} ) ... ]

            var   models = []
                , i      = num      // number of model to create
                , JSON   = null;    // { "a":"a"+i, "b":"b"+i, ... }

            do {
                JSON = {};
                _.each(['a', 'b', 'c', 'd'], function(item){ JSON[item] = i.toString() + item; });
                var modelInstance =  new ( Backbone.Model.extend() )( JSON );
                models.push(modelInstance);
            } while (--i);

            return models;
        };

        app.templateItem
            = '<% _.each(data, function(item) { %>'
            + '<td><%= item %></td>'
            + '<%  }); %>';
        app.templateCollection
            = '<thead><tr><th>AA</th><th>BB</th><th>CC</th><th>DD</th></tr></thead>'
            + '<tbody></tbody>';

        // Define item view
        app.ViewItem = Backbone.View.extend({
            tagName: 'tr'
            , template: app.templateItem
            , render: function(){
                var data = this.model.toJSON();
                var htmlToRender = _.template(this.template, {data:data} );
                this.$el.html(htmlToRender);
                return this;
            }
        });

        // Define collection View
        app.ViewCollection = Backbone.View.extend({
              tagName: 'table'
            , template: app.templateCollection
            , render: function(){
                var data = {};
                var htmlToRender = _.template(this.template, {data: data} );
                this.$el.html(htmlToRender);

                var htmlRows = [];
                this.collection.each(function(item){
                    var viewItem = new app.ViewItem({model:item});
                    var $itemHtml = viewItem.render().$el;
                    htmlRows.push($itemHtml);
                });
                this.$el.find('tbody').html(htmlRows)
                return this;
            }
        });

        app.modelsData = app.mock(5);
        // Instantiate a backbone collection with models data
        app.collection = new ( Backbone.Collection.extend() )( app.modelsData );
        // Create collection view instance
        app.viewCollection = new app.ViewCollection({collection:app.collection});
        app.table = app.viewCollection.render().$el

        $('#region').append(app.table);

        console.log(app.table);
    })();

    </script>
</body>
</html>
